.parent {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .navbar {
    width: 100%;
    background-color: gray;
    height: 87px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main {
    width: 95%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    .breadcrumb {
      width: 100%;
      margin: 42px 42px;
    }

    .container {
      width: 100%;
      height: min-content;
      display: flex;
      justify-content: space-between;

      .block_1 {
        width: 50%;
        height: min-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
          display: flex;
          justify-content: center;

          p {
            color: #0093d3;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 75px;
            text-transform: uppercase;
          }
        }
        .config {
          display: flex;
          justify-content: space-between;
          width: 70%;
          margin-top: 67px;
          align-items: end;

          .config_Item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            p {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 400;
              font-size: 10px;
              line-height: 100%;
              text-align: center;
              color: #808080;
              margin-bottom: 2px;
              width: 60px;
            }

            div {
              display: flex;

              img {
                cursor: pointer;
                &:hover {
                  scale: (1.1);
                }
              }
            }
          }
        }
        .img {
          margin-top: 22px;
          width: 100%;
          height: 100vh;
          display: flex;
          canvas {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 2;
          }
          img {
            width: 47.5%;
            height: 100%;
            position: absolute;
          }
        }
      }
      .block_2 {
        border: 1px solid black;

        width: 45%;
        min-height: 200vh;

        .star1 {
          position: absolute;
          left: 1063px;
          top: 206px;
        }
        .star2 {
          position: absolute;
          right: 39px;
          top: 500px;
        }

        .block {
          display: flex;
          flex-direction: column;
          align-items: center;

          .hint {
            z-index: 10;

            img {
              width: 200px;
              height: 200px;
            }
          }
          .dots_container {
            display: flex;
            justify-content: start;
            flex-direction: row-reverse;
            width: 100%;

            div {
              display: flex;
              flex-direction: row-reverse;
              width: 65px;
              justify-content: start;
            }
            p {
              z-index: 10;
              font-family: "Roboto";
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 130%;
              color: #808080;
            }

            img {
              width: 30px;
              height: 30px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .footer {
    width: 100%;
    background-color: gray;
    height: 87px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
  }
}
