@import "../../style/adaptive.module";

.error {
  display: none;

  @media screen and (max-width: 1000px) {
    margin-top: 100px;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    display: block;
    padding: 10px 15px;
    width: 100%;
  }
}

.parent {

  width: 100%;
  min-height: 100vh;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 1000px) {
    display: none;
  }

  .navbar {
    width: 100%;
    background-color: gray;
    height: 87px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    .breadcrumb {
      width: 100%;
      margin: 42px 42px;
    }

    .container {

      margin-top: 80px;
      width: 100%;
      height: min-content;
      display: flex;
      justify-content: space-between;


      .block_1 {
        width: 65%;
        height: min-content;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
          width: 100%;
        }

        .title {
          display: flex;
          justify-content: center;

          p {
            color: #0093d3;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 75px;
            text-transform: uppercase;
          }
        }

        .config {
          display: flex;
          justify-content: space-between;
          width: 70%;

          align-items: end;

          .config_Item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            p {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 400;
              font-size: 10px;
              line-height: 100%;
              text-align: center;
              color: #808080;
              margin-bottom: 2px;
              width: 60px;
            }

            div {
              display: flex;

              img {
                cursor: pointer;

                &:hover {
                  scale: (1.1);
                }
              }
            }
          }
        }

        .img {
          position: relative;
          margin-top: 22px;
          width: 100%;
          display: flex;

          canvas {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 10;

            top: 0;
            left: 0;
          }

          img {
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }

      .block_2 {
        margin-top: 60px;

        height: 70vh;
        width: 30%;

        .pointsWrap {
          height: 58vh;
          overflow-y: scroll;
        }

        .star1 {
          position: absolute;
          left: 1063px;
          top: 206px;
          z-index: -1;
        }

        .star2 {
          position: absolute;
          right: 39px;
          top: 500px;
          z-index: -1;
        }

        .block {
          display: flex;
          flex-direction: column;
          align-items: center;

          .hint {
            z-index: 10;

            img {
              width: 200px;
              height: 200px;
            }
          }

          .dots_container {
            display: flex;
            justify-content: start;
            flex-direction: row-reverse;
            width: 100%;

            div {
              display: flex;
              flex-direction: row-reverse;
              width: 65px;
              justify-content: start;
            }

            p {
              z-index: 10;
              font-family: "Roboto";
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 130%;
              color: #808080;
            }

            img {
              width: 30px;
              height: 30px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .footer {
    width: 100%;
    background-color: gray;
    height: 87px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
  }

  .button_div {
    background-color: #0093d3;
    width: 100px;

    button {
      width: 100%;
      height: 50px;
      padding: 10px;
      cursor: pointer;
      background-color: #0093d3;
      color: white;
    }
  }
}

.size {
  background-image: linear-gradient(204deg, #4174C0 0%, #209AA6 100%);
  width: 100%;
  overflow: hidden;
  list-style: none;
  touch-action: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0093D3;
  border-radius: 10px;
  width: 325px;
  height: 78px;
  gap: 20px;
  cursor: pointer;
  margin-top: 5vh;

  .btnTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .btnText {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: lowercase;

    color: #FFFFFF;
  }

  .btnTextWrap {

  }
}